nav.nav 
    div
        img.logo#logo(src=require("/src/images/logo.svg"), alt="logo")
    ul.row-list
        li 
            a.nav__link(href="#") home 
        li 
            a.nav__link(href="#") shop 
        li 
            a.nav__link(href="#") about 
        li 
            a.nav__link(href="#") contact

