include pug/libs/_libs

doctype html
html(lang="en")
    include pug/_head 
    body.body
        //- include pug/libs/_nav
        section.top-section
            .featured
                img(src=require("/src/images/mobile-image-hero-1.jpg"), alt="")

            .hero
                header.hero__header.header--1
                    | Discover innovative ways to decorate
                article.hero__article
                    | We provide unmatched quality, comfort, and style for property owners across country. Our experts combine form and function in bringing you vision to life. Create a room in your own style with our collection and make your property a reflection of you and what you love.
                a.spaced-text(href="#" target="_blank")                 
                    | SHOP NOW
                    img(src=require("/src/images/icon-arrow.svg"), alt="arrow")

        section.bottom-section
            div.bottom-section__col-1
                img(src=require("/src/images/image-about-dark.jpg"), alt="")
            .hero
                header.hero__header.header--2.spaced-text
                    | ABOUT OUR FORNITURE 
                article.hero__article
                    | Our multifunctional collection blends design and function to suit your individual taste. Make each room unique, or pick a cohesive theme that best express your interests and what inspires you. Find the furniture pieces you need, from traditional to contemporary styles or anything in between. Product specialists are available to help you create your dream space.
            div.bottom-section__col-3
                img(src=require("/src/images/image-about-light.jpg"), alt="")





